body {
    background-color : rgb(208, 203, 197) ;
    font-family:Arial, Helvetica, sans-serif;




}



h1 {
    color: rgb(119, 161, 198);
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 100px;
    text-align: center;

}



h2 {
    color: rgb(137, 132, 127);
}

#bienvenue {
    border: 2px dotted;
    border-radius: 50px;
    text-align: center;
    

}

.important {
    text-decoration: underline;
    font-style: italic;
}

.guerrier {
    color: red;
    font-weight: bold;
}

.mage {
    color: blue;
    font-weight: bold;
}

.archer {
    color: green;
    font-weight: bold;
}

