body {
    /* border: solid 1px black; */
    max-width: 600px;
    margin-left : auto;
    margin-right : auto;
    padding-left : 5px;
    padding-right : 5px;
}



h1, h2, p {
    /* border : solid 1px red; */
}


#nnavigation div{
    background-color: antiquewhite;
    padding-top: 5px;
    padding-bottom: 5px;
}






#navigation ul {
    /* border : solid 1px green; */
    width : fit-content;
    padding-left: 0px;
    margin-left : 0px;
    margin-right : 0px;
}

#navigation li {
    display: inline;
    /* border : solid 1px blue; */
    margin-left: 20px;
    margin-right: 20px;
}


