body {
    background-color: #f5f5f5; 
    color: #111; 
  }


/* image2 {
    border-radius: 20px;
  } */

  @media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #eee;
  }
}