 /* @media (prefers-color-scheme: dark) {
  body {
    background: #625a5a;
    color: #eee;
  }
} */


  body {
    margin: 0;
    min-height: 200vh; /* juste pour pouvoir scroller */
  }

  /* Bandeau fixe en bas */
  .bandeau-avion {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(30, 144, 255, 0.9); /* bleu ciel semi-transparent */
    overflow: hidden; /* cacher l'avion hors du bandeau */
  }

  /* Avion qui se déplace */
  .avion {
    position: absolute;
    left: -50px; /* départ hors écran */
    top: 50%; /* centré verticalement */
    transform: translateY(-50%);
    font-size: 30px;
    animation: voler 5s linear infinite;
  }

  @keyframes voler {
    0% { left: -50px; }
    100% { left: 100%; }
  }

:root {
  --bleu-clair: #c5dcfb;
  --bleu-accent: #1a6776;
  --bleu-lien: #85b5da;
  --bleu-hover: #37adb8;
}


body {
    background-color: #c5dcfb; 
    color: #111;
    text-align: center; 
  }




h1 {
    color: rgba(139, 191, 239, 0.739);
    background-color: rgba(26, 103, 118, 0.795);
    border-radius: 100px;
    text-align: center;

}

h1, h2 {
  transition: transform 0.3s;
}


#bienvenue {
    font-family: 'Arial Black', sans-serif;
    font-size: 48px;
    animation: pop 1s ease-out;
}

@keyframes pop {
  from { opacity:0; transform: translateY(-20px);}
  to { opacity:1; transform: translateY(0);}
}

a {
    color: rgb(146, 201, 255);
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    line-height: 25px;
    border: 3px solid rgb(26, 103, 118);
    padding: 15px;
    background-color: rgba(255,255,255,0.3);

}

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    gap: 40px;
    font-size: 20px;
    border: rgb(26, 103, 118) 5px solid;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border-radius: 15px;
    line-height: 25px;
    border: rgb(26, 103, 118) 5px solid;
    background-color: rgba(230, 235, 240, 0.645);
    backdrop-filter: blur(6px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    
}

nav a {
    color: #85b5da;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: 0.25s;
}

nav a:hover {
    color: rgb(55, 173, 184);
    transform: translateY(-2px);
    font-size: 25px;
}

img {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}

/* #aerodromes {
    color: #111;
    font-size: 18px;
    line-height: 28px;
} */

canvas {
  border-radius: 360px;
  height: 200px;
  width: 200px;
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}



